{% load static %}
<div class="dropdown profile-element">
    <span><img alt="image" class="img-circle" style="width: 70px;height: 70px" src="{{ emp.img }}"></span>
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                               <span class="block m-t-xs"><strong class="font-bold">{{ emp.username }}</strong></span>
                                <span class="text-muted text-xs block">{{ emp.org_position__name }}<b class="caret"></b></span>
                                </span>
    </a>
    <ul class="dropdown-menu animated fadeInRight m-t-xs">
        <li><a class="J_menuItem" href="#" data-index="0">修改头像</a>
        </li>
        <li><a class="J_menuItem" href="#" data-index="1">个人资料</a>
        </li>
        <li><a class="J_menuItem" href="#" data-index="2">联系我们</a>
        </li>
        <li class="divider"></li>
        <li><a href="/webcore/login/">信箱</a>
        </li>
    </ul>
</div>