{% extends 'layout_content.html' %}
{% load static %}
{% block content %}
    <div class="row wrapper wrapper-content">
        <div class="col-sm-12">
            <form method="post">
                {% csrf_token %}
                <div class="ibox">
                    <div class="ibox-title"><h4 style="color:#4CA48B">修改密码</h4>
                        <div class="ibox-tools">
                            <!--
                            <a class="collapse-link" href="javascript:history.back(-1)">
                                <i class="fa fa-arrow-circle-left" style="color:#18A689"></i>
                                返回
                            </a>
                            -->
                        </div>
                    </div>
                    <div class="ibox-content">
                        {% for field in form %}
                            <div class="row m-t-sm">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label float-right">{{ field.label }}:</label>
                                        <div class="col-sm-10 ">
                                            {{ field }}
                                            <span class="label label-warning">{{ field.errors.0 }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12  ">
                                <div class="pull-right">
                                    <a class="btn btn-default btn-sm" href="{{ cancel }}">
                                        <i class="fa fa-arrow-circle-left"></i>
                                        &nbsp;返回
                                    </a>
                                    <button type="submit" class="btn btn-primary btn-sm">
                                        <i class="fa fa-check"></i>
                                        &nbsp;保存
                                    </button>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </form>
        </div>

    </div>

{% endblock %}

{% block js_content %}
    <script>
        $(function () {

        })

    </script>

{% endblock %}