{% extends 'layout_content.html' %}
{% load static %}
{% block content %}
    <div class="wrapper wrapper-content">
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <div class="text-center">
                                <h2><strong>苏州院“新冠肺炎”疫情防控个人承诺书</strong></h2>
                            </div>
                            <hr>
                            <p>
                                &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;疫情就是命令，防控就是责任。为打赢新冠病毒肺炎疫情防控阻击战，切实保障自身和他人身体健康和生命安全，为公司安全生产保驾护航，作为公司一员，我郑重承诺：
                            </p>
                            <ol>
                                <li>认真学习防疫法规、公司应急防控规定和防疫知识；</li>
                                <li>积极参与和支持疫情防控工作，服从指挥、听从安排；</li>
                                <li>如实申报个人防疫信息，绝不瞒报、谎报、漏报、错报；</li>
                                <li>主动配合每日体温检测，及时报告身体异常情况，按规定接受隔离；</li>
                                <li>严格做好个人防护，规范佩戴口罩，勤洗手，保持良好个人卫生；</li>
                                <li>上班坚守岗位，不聚集，谈话做事保持安全距离；下班减少外出，不组织或参加聚会聚餐；</li>
                                <li>遵守公司食堂用餐规定，错峰就餐，不扎堆、不面对面就餐；</li>
                                <li>坚决避免直接接触任何野生动物，绝不食用野味；</li>
                                <li>科学理性关注疫情，不恐慌，不造谣，不传谣，不信谣。</li>
                                <li>疫情防控，人人都是一道屏障！</li>
                            </ol>
                        <p>
                                我将严格遵守本承诺，如有违反，愿意承担相应的责任并接受处罚。
                            </p>
                        <p>
                                附:中广核新型冠状病毒肺炎疫情防控十四条
                            </p>
                        <ol>
                            <li>进入公共场所一律佩戴口罩；</li>
                             <li>进入基地/办公场所、乘坐班车人员一律安排测温，体温超过37.3℃拒绝入内；</li>
                             <li>明确基地核心和重要区域，严格控制人员出入，做好测温和登记；</li>
                            <li>对核电站重点人群(如运行值班人员)进行重点防护，指定专人负责和跟踪，发现异常及时隔离；</li>
                            <li>保持办公室、会议室、餐厅、电梯间、洗手间、班车等公共场所的通风，每天定期消毒；</li>
                             <li>要求有疑似症状的人员及时报告并就医；</li>
                             <li>湖北返回的员工、家中有湖北返回人员的员工、近期曾密切接触确诊或疑似病例的员工，自返回或脱离接触之日起自行居家隔离15天；</li>
                             <li>原则上不接待外部人员非必要的来访；</li>
                             <li>不安排到湖北出差，最大程度减少出差安排；</li>
                             <li>取消一切非必要的集体活动，精简、取消或延后会议，提倡通过电话或视频召开会议； </li>
                             <li>降低餐厅就餐人员密度，实行错峰就餐，避免面对面就餐，鼓励打包就餐；</li>
                             <li>节后上班不开展互相走访、拜年发利是等活动；</li>
                             <li>长途班车乘车人员信息可追溯，核电基地上下班车、巡回班车尽量保持通风，降低乘车密度；</li>
                             <li>各核电基地2月3日前备好人员隔离场所和相应物资。</li>
                        </ol>
                            <div class="form-group">
                                <input type="checkbox" name="ch" class="iCheck-helper" id="check_ok" checked>
                                <label for="check_ok">我已全部知晓并同意以上内容。</label>
                            </div>
                            <div class="form-group">
                                <label for="img_sig">承诺人:</label> <img id="img_sig">
                            </div>
                            <div>
                                <label>承诺日期:{{ date }}</label>
                            </div>
                            <hr>
                            <label>签名:</label>
                            <div class="text-center" style="height: 240px">
                                <div id="signature" style="border: 1px grey solid">

                                </div>
                            </div>
                            {% if msg %}
                                <div class="text-center" style="margin-top: 10px">
                                    <label class="label label-danger"> {{ msg }}</label>
                                </div>

                            {% endif %}

                            <div style="margin-top: 10px">
                                <input type="button" class="btn btn-warning" onclick="clearSig()"
                                       value="重写">

                                <input type="button" class="btn btn-success" onclick="confirm_sig()"
                                       value="确认签字">

                                <button type="submit" class="btn btn-primary pull-right" name="pk"
                                        style="margin-left:5px" disabled="disabled" onclick="importImg()"
                                        value="{{ emp.pk }}">提交

                                </button>

                            </div>
                            <div>
                                <label class="pull-right label label-default">提示:需要确认签字后才能提交</label>
                            </div>
                            <div>
                                <input type="text" name="sig" id="sig" hidden>
                                <input type="text" name="sig_length" id="sig_length" hidden>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
{% endblock %}

{% block js_content %}
    <script src="{% static '/plugins/jSignature/jSignature.js' %}"></script>
    <script>
        //初始化画布
        $(document).ready(function () {
            let w = $("#signature").parent().width() - 10;
            console.log(w);
            let h = $("#signature").parent().height();
            $("#signature").jSignature({height: h, width: w, color: "#000", lineWidth: 4});
        });

        /**
         $(function () {
            $('#clearSig').on('click', function () {
                $("#signature").jSignature("clear");
            })
        });
         **/

        function clearSig() {
            $("#signature").jSignature("clear");
            $('#img_sig').removeAttr('src');
            $('#img_sig').width(0);
            $('#img_sig').height(0);
            document.getElementById('sig_length').value = 0;
            $("button[type='submit']").attr('disabled', 'disabled')
        }

        function confirm_sig() {
            let sig = $('#signature');
            let sig_data = sig.jSignature('getData');
            let sig_length = $('#signature').jSignature('getData', 'native').length;
            if (sig_length > 0) {
                $('#img_sig').width(95);
                $('#img_sig').height(80);
                $('#img_sig').attr('src', sig_data);
                document.getElementById('sig_length').value = sig_length;
                document.getElementById('sig').value = sig_data;
                $("button[type='submit']").removeAttr('disabled')
            } else {

                alert("请签字！")

            }
        }

        function importImg() {
            let sig = $('#signature');
            let sig_data = sig.jSignature('getData');
            let sig_length = $('#signature').jSignature('getData', 'native').length;
            document.getElementById('sig_length').value = sig_length;
            document.getElementById('sig').value = sig_data;
        }


    </script>



{% endblock %}
