{% extends 'layout_content.html' %}
{% load static %}
{% load rbac %}
{% block content %}
    <div class="row wrapper wrapper-content ">

        <div class="col-sm-12 alert alert-success">
            <form method="post">
                {% csrf_token %}
                <div>
                    <h3><strong><i class="fa fa-compass"></i>{% if msg %}{{ msg }}{% else %}成功{% endif %}</strong>
                    </h3></div>
                <div class="row m-t-lg">
                    <div class=" col-sm-12">
                        <a class="btn btn-default" href="javascript:history.back(-1)">
                            <i class="fa fa-arrow-circle-left"></i>
                            &nbsp;确认
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}