{% extends 'layout_content.html' %}
{% load static %}
{% load rbac %}
{% block content %}
    <div class="row wrapper wrapper-content">
        <div class="col-sm-12">
            <form method="post"
                  onsubmit="submitFun()">
                {% csrf_token %}
                <div class="ibox">
                    <div class="ibox-title"><h4>添加</h4>
                        <div class="ibox-tools">
                            <!--
                            <a class="collapse-link" href="javascript:history.back(-1)">
                                <i class="fa fa-arrow-circle-left" style="color:#18A689"></i>
                                返回
                            </a>
                            -->
                        </div>
                    </div>
                    <div class="ibox-content">
                        {% for field in form %}
                            <div class="row m-t-sm">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label float-right">{{ field.label }}:</label>
                                        <div class="col-sm-10 ">
                                            {{ field }}
                                            <span class="label label-warning">{{ field.errors.0 }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-offset-10 col-sm-12  ">
                                <a class="btn btn-default" href="{{ cancel }}">
                                    <i class="fa fa-arrow-circle-left"></i>
                                    &nbsp;返回
                                </a>
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-check"></i>
                                    &nbsp;保存
                                </button>
                            </div>

                        </div>

                    </div>
                </div>
            </form>
        </div>

    </div>

{% endblock %}

{% block js_content %}
    <script src="{% static 'plugins/md5/jquery.js' %}"></script>
    <script src="{% static 'plugins/md5/jquery.md5.js' %}"></script>
    <script>
        //提交前事件
        function submitFun() {
            // 当存在密码框时，对密码的值进行MD5加密
            if ($("input[name='password']").length > 0) {
                $("input[name='password']").val($.md5($("input[name='password']").val()));

            }
            if ($("input[name='confirm_password']").length > 0) {
                $("input[name='confirm_password']").val($.md5($("input[name='confirm_password']").val()));
            }
        }
    </script>

{% endblock %}